.contact_list {
	display: grid;
	width: 100%;
	justify-items: center;
	padding: 10px;
}

.contact_list ul {
	display: grid;
	gap: 10px;
	width: fit-content;
	max-width: 1000px;
}

.contact_list ul li {
	list-style-type: disc;
	list-style-position: inside;
	padding-left: 30px;
}

.contact_list ul li:last-child {
	list-style-type: none;
	padding-left: 0;
}